<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Slay110 S23!</title>
        <link rel='stylesheet' href='/static/bootstrap.min.css'>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <!-- navigation bar -->
    <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/"><img class="logo" src="/static/slaylogo-02.png" alt="logo"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/description">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/schedule">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workshops">Workshops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery">Gallery</a>
                </li>
            </ul>
        </div>
    </nav>

    <br>

    <div class="container">
        <h1>What is SLAY110?</h1>
        <h2>SLAY110 is a bi-annual hackathon event open to all COMP 110 students!</h2>
        <p>SLAY110 is an epic 12 hour event in which students can put their new-found coding skills to use! Students have the option to pursue either web development or game development in a beginner-friendly environment. No prior coding experience is necessary!</p>
        <h3>Get ready for 12 hours of coding and fun!</h3>
    </div>
    </body>
</html>